# Copyright (c) 2026 Echelon Team. All rights reserved.

[Desktop Entry]
Name=SingularityMC
Exec=auto-update
Icon=singularitymc
Type=Application
Categories=Game;
Terminal=false
